body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin-top: 50px, auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  /* she wanted to set the font size 40px, but convert into
  rems. the formula is 40 / 16 = 2.5*/
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  clear: both;
}

.top-container {
  background-color: #eafbea;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  line-height: 4;
}

.bottom-container {
  margin-top: 30px;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile {
  margin-top: 25px;
}

.me-img {
  width: 12.5%;
}

.bjj-one-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bjj-two-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.btn {
  background-color: #66bfbf;
  color: #eaf6f6;
  padding: 10px 30px;
  border-radius: 5px;
}

.line {
  border-bottom: darkcyan solid 1px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 50%;
  margin: 50px auto 50px;
}
